img{width: 9; background-color: #f5edc5;
margin-left: 90; margin-top: 50;}

body{background-color: #f5edc5;}
.ddbutton{margin-top: -70px;margin-left: 1070;background-color: transparent;width: 90;height: 35;font-size: 20;}
h2{font-size: 52; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-left: 40; }

h1{margin-left: 50;margin-bottom:50;}
h3{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;font-size: 26;margin-left: 45;color: #0bca4c;}
input{font-size: 14;width: 100;background-color: #004a33; color: white; margin-left: 80;}
.image {
    float: right; 
    margin-left: 5px; 
    margin-right: 50px;
    width: 500;
    margin-bottom:10px;
    margin-top: -10px;
}
 .ddbutton:hover{color: #0bca4c;}
 