body {
  background-image: url(https://media.istockphoto.com/id/512043715/vector/hand-drawn-fast-food-doodle-pattern.jpg?s=1024x1024&w=is&k=20&c=KiKLzpnJB82HoYnSEPE7juCnvr9F8Cy7emJIyWUyUdY=);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:initial;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f4f4f4; 
}

.order-status {
  font-size: 30px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
}

.loader {
  border: 8px solid #9f9b9b;
  border-top: 8px solid #0698f9; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
  margin-bottom: 20px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
